<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
    </head>

    <body>

        <div class="container">
            <nav class="navbar-dark bg-dark" style="padding: 30px">
                <a class="navbar-brand" href="{{ path('app_posts') }}">Новости</a>
                <p>

                    {% if(app.getUser) %}
                        <a href="{{ path('fos_user_registration_register') }}">Регистерация</a>/
                        <a href="{{ path('app_profile') }}">Профиль</a><br>
                        <a href="{{ path('fos_user_security_logout') }}">Выход</a><br>
                        <a class="btn btn-primary" href="{{ path('app_create_post') }}">Создать новость</a>
                    {% else %}
                        <a href="{{ path('fos_user_registration_register') }}">Регистерация</a>/
                        <a href="{{ path('fos_user_security_login') }}">Авторизация</a>
                    {% endif %}
            </nav>
            {% block content %}{% endblock %}
        </div>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
