{% extends 'base.html.twig' %}

 {% block body %}{% endblock %}

{% block content %}

    {{ include('form/form_type.html.twig', {'form': form }) }}


        <a href="{{ path('app_posts') }}">Вернуться ко всем</a>
        {% for post in posts %}
            {% if(post.publicatedDate != null) %}
            <div class="card" style="margin-bottom: 20px">
                <div class="card-body">
                    <h5 style="color:orangered" class="card-title">{{ post.title }}</h5>
                    <p><b>Категория - {{ post.category.name }}</b></p>
                    <p class="card-text"> {{ post.content|truncate(200, false, "...")  }}</p>
                    <a href="{{ path('app_get_post', { 'id': post.id }) }}" class="btn btn-primary">Посмотреть</a>
                    <div>
                        <span style="font-size: 12px;">Дата создания - {{ post.createdDate|date("m/d/Y")}}</span><br>
                        {% if(post.publicatedDate != null) %}
                            <span style="font-size: 12px;">Дата публикации - {{ post.publicatedDate|date("m/d/Y")}}</span>
                        {% endif %}
                    </div>


                </div>
                <div class="card-footer">
                    <a href="{{ path('app_add_like', { 'id': post.id ,'state':'satisfied'}) }}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Доволен</a>
                    <a href="{{ path('app_add_like', { 'id': post.id ,'state':'displeased'}) }}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Недоволен</a>
                    <a href="{{ path('app_add_like', { 'id': post.id ,'state':'actual'}) }}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Актуальна</a>
                    <a href="{{ path('app_add_like', { 'id': post.id ,'state':'not-relevant'}) }}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Неактуальна</a>
                    <a href="{{ path('app_add_like', { 'id': post.id ,'state':'qualitatively'}) }}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Качественно</a>
                    <a href="{{ path('app_add_like', { 'id': post.id ,'state':'poorly'}) }}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Некачественно</a>
                </div>
            </div>
                Теги<br>
                {% for tag in post.tags %}
                    <span style="font-size: 10px">{{ tag.name }} </span><br>
                    {% else %}
                    <p style="font-size: 10px">нету тегов</p>
                    {% endfor %}
        {% endif %}
        {% else %}
            <p>Ни одного поста</p>
        {% endfor %}
    <div class="navigation">
        {{ knp_pagination_render(posts) }}
    </div>
{% endblock %}

