{% extends 'base.html.twig' %}

{% block content %}
    <div class="card" style="margin-bottom: 20px">

        <div class="card-body">
            <h5 style="color:orangered" class="card-title">{{ post.title }}</h5>
            <p><b>Категория - {{ post.category.name }}</b></p>
            <p class="card-text"> {{ post.content }}</p>
        </div>
        <div class="card-footer">
            {% for comment in comments %}
                <p><span style="color:skyblue">{{ comment.author.username }}</span> - {{ comment.comment }} {% if app.getUser %}{% if(app.getUser.getRoles[0] == 'ROLE_ADMIN') %}<a href="{{ path('app_remove_comment', { 'id': comment.getId }) }}">x</a>{% endif %}{% endif %}</p>

            {% endfor %}

        </div>
    </div>

    {% if app.getUser %}
    {{ include('form/form_type.html.twig', {'form': form }) }}
    {% endif %}
{% endblock %}



