{% extends 'base.html.twig' %}

{% block content %}
    <p> ID - {{ user.id }}</p>
    <p> Ф.И.О - {{ user.fullName }}</p>
    <p>Рейтинг = {{ user.getSum }}</p>
{% endblock %}

{% block body %}

{% endblock %}

